<div class="">
	<img
		class="main pro featured"
		src="img/google.png"
		alt="Google Logo"
	/>
</div>
<form>
	<input
		type="text"
		placeholder=""
		maxlength="2048"
		autocapitalize="off"
		autocomplete="off"
		spellcheck="false"
		title="Search"
		value=""
		name="search box"
	/>
	<div class="button">
		<button type="submit" name="search submit" class="search-submit">
			Search
		</button>
	</div>
</form>
